* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.profile {
    float: left;
    padding: 10px;
    height: 220px; /* Should be removed. Only for demonstration */
}
