.row{
    float: left;
    clear:both;

}

body{
    /*got picture from https://i.ytimg.com/vi/ifVEMkQ9BaY/maxresdefault.jpg*/
    background-image: url("../img/maxresdefault.jpg");
    background-size:cover;
        font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.profile {
    float:left;
    padding: 10px;
    height: 220px;
    margin-top: 0px;
    /*got this from https://blog.hubspot.com/website/change-background-color-html#:~:text=To%20add%20background%20color%20in%20HTML%2C%20use%20the%20CSS%20background,%2C%20div%2C%20or%20span%20tag.*/
    background-image: linear-gradient(to bottom, #db3357, #91abf8);
    border-left: 2px solid black;
    border-bottom: 2px solid black;

}
.profile2{
    padding-bottom: 20px;
    margin-left: 0px;
    height: 220px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-image: linear-gradient(to bottom, #db3357, #91abf8);
    color:rgb(29, 4, 4);
}
#profile_name{
    margin-bottom: 0px;
    margin-top: 5px;
    padding-top: 10px;
    width: 398px;
    color: rgb(66, 6, 6);
    background-image: linear-gradient( to bottom,#91abf8, #db3357);
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    text-decoration: none;
    
    
}

.about_me_title{
    padding-left: 5px;
    /*Got this from https://fonts.google.com/*/
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px lightblue;
    letter-spacing: 5px;
    text-align: left;
    margin:0;
    font-size: 30px; 
    text-transform: uppercase;
}
.more_about_me_title{
    padding-left: 5px;
    /*Got this from https://www.cssfontstack.com/Brush-Script-MT*/
    /*
    font-family: "Brush Script MT", cursive;
    */
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px lightpink;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px; 
    text-transform: uppercase;
}

.about_me{
    padding-left: 5px;
    padding-top: 0px;
    margin-left: 405px;
    padding-right: 20px;
    border: 1px solid black;

    background:rgba(102, 98, 98,.85);
    width:fit-content;
    margin-right:10px;
    border-radius: 10px;
    color:rgb(255, 255, 255);

}
.paragraph{
    font-size: 18px; 
    font-weight: 30px;
}
.Activities{
    padding-left: 0px;
    margin-top: 10px;
    margin-left: 0px;
    width: 400px;
    border: 1px solid black;
    background:rgba(102, 98, 98, 0.6);
    color: rgb(65, 11, 11);
    border-radius: 20px;
    
    font-size:20px;
    color:rgb(255, 255, 255);
}


h3, h4{
    background-image: linear-gradient(to right, #c1cff8, #0033CC);
    padding-left: 15px;
    text-align: left;
    color: rgb(66, 6, 6);
    margin-bottom: 0px;
    
}
h5{
    margin-bottom: 5px;
    margin-top: 15px;
}
h6{
    margin-top:5px;
    margin-bottom: 5px;
}
.transform{
    text-transform: capitalize;
}
p{
    line-height: 1.25;
}

.container{

    margin-right: 10px;
    padding:30px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top:20px;
    margin-left:400px;

}

.picture{
    width: 200px;
    height: 200px;
    margin: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}